/* src/components/Nav/Nav.css */

/* Reset margin and padding for body and html */
body, html {
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000; /* Ensure the navbar is above other elements */
  position: fixed;
  top: 0;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links a:hover {
  text-decoration: underline;
}
